<%- include('_header') %>

<div class="container bordered row mx-5">
  <% if(messages) {%>
    <p><%= messages.error %></p>
  <%} %>
  <div
    class="g-3 col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-center"
  >
    <div onclick="location.href = '/auth/google'" class="auth w-75 border p-2 m-3 text-center fs-3 fw-bold google">
      <img
        src="img/google-removebg-preview.png"
        class="me-3"
        alt="google logo"
      />
      Google
    </div>
    <div onclick="location.href = '/auth/facebook'" class="auth w-75 border p-2 m-3 text-center fs-3 fw-bold facebook">
      <img
        src="img/facebook-removebg-preview.png"
        class="me-3"
        alt="facebook logo"
      />
      Facebook
    </div>
    <div onclick="location.href = '/auth/github'" class="auth w-75 border p-2 m-3 text-center fs-3 fw-bold github">
      <img
        src="img/github-removebg-preview.png"
        class="me-3"
        alt="github logo"
      />
      Github
    </div>
  </div>
  <form
    action="/auth/register"
    method="POST"
    class="g-3 needs-validation col-sm-12 col-md-6"
    novalidate
  >
    <div class="col-sm-12">
      <label for="fname" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="fname"
        name="fname"
        required
      />
      <div class="invalid-feedback">Please enter first name.</div>
    </div>
    <div class="col-sm-12">
      <label for="lname" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="lname"
        name="lname"
        required
      />
      <div class="invalid-feedback">Please enter last name.</div>
    </div>
    <div class="col-sm-12">
      <label for="username" class="form-label">Username</label>
      <div class="input-group has-validation">
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
    </div>
    <div class="col-sm-12">
      <label for="email" class="form-label">Email</label>
      <div class="input-group has-validation">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          required
        />
        <div class="invalid-feedback">Please choose an Email</div>
      </div>
    </div>
    <div class="col-sm-12">
      <label for="password" class="form-label">Password</label>
      <div class="input-group has-validation">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
    </div>
    <div class="col-sm-12">
      <label for="cpassword" class="form-label">Confirm Password</label>
      <div class="input-group has-validation">
        <input
          type="password"
          class="form-control"
          id="cpassword"
          name="cpassword"
          required
        />
        <div class="invalid-feedback">Please Confirm Password.</div>
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="terms"
          required
        />
        <label class="form-check-label" for="terms">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <button class="btn btn-primary" type="submit">Register</button>
      <p class="link mt-2">
        Already have an account? <a href="/login">Login</a>
      </p>
    </div>
  </form>
</div>
<%- include('_footer') %>
